<h1>Edit article</h1>
 <%= form_with model: @article11, scope: :myallarticle, url: my_u_article_path(@article11), local: true do |form| %>

 <% if @article11.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article11.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article11.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<p>
  <strong>Title:</strong>
  <%= @article11.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article11.text %>
</p>